.d1{
    color: blue;
}
.form1{
    margin: 20px;
}
.shake {
    animation: shake 1s ease-in-out 0s 1 normal both;
  }
  .form1 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .form1.show {
    opacity: 1;
  }
  /* fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply fade-in animation to the alert message */
.alert-message {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
    background-color: initial; /* Reset background color to initial value */
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
    background-color: #ffcccc; /* Red background color */
    border:1px solid red;
    color:red
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
    background-color: #ffcccc; /* Red background color */
  }
}